<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transport</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js">  </script>
  <link rel="stylesheet" href="/transport.css">
</head>

<body>

  <div id="stick_page">
    <nav class="hit navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/images/airport_logo.png" alt="" width="100" height="60" >
            </a>

            <div class="rel">
                <h4 class="alice ">Devi Ahilyabai Holkar Airport</h4>
                <h6 class="alice">INDORE</h6>
            </div>

          <div class="slide collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="hover-color nav-item">
                <a class="black nav-link " aria-current="page" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="black hover-color nav-link " href="login">Login</a>
              </li>
              <li class="nav-item">
                <a class="black hover-color nav-link " href="shop">Shop&Dine</a>
              </li>
              <li class="nav-item">
                <a class="black hover-color nav-link " href="transport">Transport</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>

  <div id="carouselExampleIndicators" class=" carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class=" carousel-item active">
        <img src="/images/taxi.jpeg" class="size d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/tran_3.jpg" class="size d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/t_3.jpg" class="size d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <nav class="space navbar navbar-expand-lg ">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#page-1"><h4>Taxis & Car Rentals</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#page-2"><h4>Metro/Airport Express</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#page-3"><h4>Bus Transport</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#page-4"><h4>Parking</h4></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="scroll-container">
    <div class="scroll-page" id="page-1">
      <div class="one row">

        <div class=" col-lg-5 geeks">
          <img src="/images/taxiiiii.jpg" alt="taxi">
        </div>

        <div class="col-lg-7">

          <h3>Taxis & Car Rentals</h3>
          <p> Step outside the terminal and get instant access to the newly introduced postpaid radio taxi service.
            To facilitate the immediate transportation needs of the passengers, Indore Airport has partnered with the
            following Cab operators:</p>
          <ul>

            <li>Uber (App Based) T3 Location - LEVEL 0 CAR PARK
            </li>
            <li>Ola (App Based) T3 Location - LEVEL 0 CAR PARK
            </li>
            <li>Meru Cabs (Radio Taxi) T3 Location - LANE 1 ARRIVALS
            </li>
            <li>Mega Cabs (Radio Taxi) T3 Location - LANE 1 ARRIVALS
            </li>
            <li>WTI (Car Rental) T3 Location - MEET & GREET AREA
            </li>
            <li>Carzonrent (Car Rental) T3 Location - MEET & GREET AREA
            </li>
            <li>Sakha (Women Taxi) T3, Pillar no 3. T3 Location - LANE 1 ARRIVALS
            </li>
            <li>Blu Smart (Electric Taxi) T3 Location - LEVEL 1 CAR PARK
            </li>
            <li>WTi Self Drive - MEET & GREET AREA
            </li>

          </ul>

        </div>
      </div>

    </div>

    <div class="scroll-page" id="page-2">
      <div class="row">

        <div class="metro_two col-lg-7">

          <h3>Metro/Airport Express</h3>
          <ul>
            <li> Linking the Devi Ahilyabai Holkar Airport and Indore is the high-speed Indore Metro Rail. This
              technological and architectural marvel helps in ease of connectivity between the airport and the rest of
              Indore.
            </li>
            <li> Out of the ten lines interconnecting the Indore Metro, the Airport Express Line or the "Orange" Line,
              is a metro line that connects Vijay Nagar to the Indore Railway Station, while linking the airport.
            </li>
            <li> As can be guessed by it's name, the Airport Express Line came into existence to interlink the Devi
              Ahilyabai Holkar Airport to prominent points within Indore within an estimated travel time of 23 minutes.
            </li>
          </ul>
        </div>
        <div class=" col-lg-5 geeks">
          <img src="/images/metro.jpg" alt="taxi">
        </div>
      </div>
      <div class="scroll-page " id="page-3">
        <div class="three row">

          <div class=" col-lg-5 geeks">
            <img src="/images/bussss.jpg" alt="taxi">
          </div>

          <div class="col-lg-7">

            <h3>Bus Transport</h3>
            <ul>
              <li> A cost-effective way to travel around the city is to use the shuttle bus facility. In order to lower
                pollution levels in the city, Indore buses run on CNG, making it one of the largest CNG-powered bus
                facilities in the world.
              </li>
              <li>The corporation runs shuttle services every 30 minutes, connecting the airport to the central parts of
                Indore, including Connaught Place & Interstate Bus Terminal.
              </li>
              <li>Shuttle buses stop at an area opposite Centaur Hotel, located nearly 2 km from the airport. There is
                regular service, and the service is open 24/7.
              </li>
              <li>To explore Indore, there is no better way than using the bus services. Services are provided both by
                public and private transport, either in Indore or state. Regular bus services are available from state
                bus terminals. </li>
            </ul>
          </div>
        </div>
        <div class="scroll-page pb-5" id="page-4">
          <div class="row">
            <div class="parking_two col-lg-7">

              <h3>Parking</h3>
              <ul>
                <li> Indore Airport has a well planned car parking facility at both domestic as well as international
                  terminals. Car parking areas are designated as per the convenience of the passengers. These car
                  parking areas are well maintained and operational throughout the day. Specific pick up and drop off
                  points are assigned across terminals. Frequent travellers can avail the monthly car parking pass. Two
                  wheeler parking is also available at all terminals.
                </li>
                <li>The car parking capacity as per terminals is as follows:
                </li>
                <li> Terminal (T2) - 1500 car slots.
                </li>

              </ul>
            </div>
            <div class=" col-lg-5 geeks">
              <img src="/images/parkinggg.jpg" alt="taxi">
            </div>
          </div>
        </div>


        <div class="booking container-fluid pb-5 pt-5"  >
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <a class="anchor" href="login">
                <h5> Passenger Login</h5>
              </a>
              <br>
              <p class="white"> Arrival</p>
              <p class="white">Departure</p>
              <p class="white">Ticket Booking</p>
              <p class="white">Cancellation</p>

            </div>
            <div class="col-lg-4 col-md-6">
              <a class="anchor" href="shop">
                <h5>Shop&Dine</h5>
              </a>
              <br>
              <p class="white">Shopping Directory</p>
              <p class="white">Dining Directory</p>
              <p class="white">Unwind and Relax</p>
            </div>
            <div class="col-lg-4 col-md-6">
              <a class="anchor" href="transport">
                <h5> Transportation</h5>
              </a>
              <br>
              <p class="white">Taxis and Car Rentals</p>
              <p class="white">Metro/Airport Express</p>
              <p class="white">Bus Transport </p>
              <p class="white">Parking</p>
            </div>
          </div>
        </div>

        <footer class="footer text-bg-dark pt-3 pb-3">
          <span>Follow us on:</span>
          <img class="small" src="/images/facebook.png" alt="">
          <img class="small" src="/images/instagram.png" alt="">
          <img class="small" src="/images/twitter.png" alt="">
          <img class="small" src="/images/linkedin.png" alt="">
        </footer>
</body>

</html>
